/* box model basics */ 
    body{
        background-color:black;
        }
    
    p{
        color:white;
        }
    
    div {
        text-align:left;
        }      
    
/*This section contains all the id's */
    #simple{
        width:100px;
        }
        
    #simpleLong{
        width:150px;
        }
        
    #walletblock{
        display:inline-block;
        /*height:00px;*/
        width:300px;
        position:relative;
        right:30px;
        align:center;
        /*bottom:200px;*/
        }
            
    #walletblock img{
        height:550px;
        width:500px;
        align:center;
        }    
         
    #box1{
        height:2em;
        width:100px;
        /*padding-bottom:.5px;*/
        position:relative;
        /*top:10px;*/
        padding-left:1em;
        text-align:left;
        padding-bottom:em;
        }
            
    #box2{
        width:100px;
        padding:3px;
        position:relative;
        top:10px;
        text-align:left;
        padding-Left:2em;
        }
            
    #box3{
        width:130px;
        padding:4px;
        position:relative;
        top:20px;
        text-align:left;
        padding-left:2em;
        /*padding-right:-em;*/
        padding-bottom:.5em;
        }
            
    
    
    
/*This group addresses the wallet Description Div Class */
    .walletdescrip{
        width:220px;
        }
            
    .en-walldesc{
        display:inline;
        font-size:1.25em;
        text-align:right;
        /*Gainsboro Color*/
        color:RGB(220,220,220);
        }
            
    .fr-walldesc{
        display:inline;
        font-size:.8em;
        color:#b8b8b8;
        }

    .walletpointer{
        display:inline;
        background:white;
        background: linear-gradient(-150deg, transparent 1.5em, black 0);
        }      
            
/* This group addresses the bullet points of the wallet*/
    
    .infoblock{
        display:inline-block;
        width:200px;
        height:550px;
        }
            
    .bord{
        line-height:1em;
        border-bottom: 1px solid;
        border-bottom-color:gray;
        margin:.25px;
        /*display:inline;*/
        }

    .adj {
        margin: 1em;
        }
    
    .en-title {
        font-family: sans;
        display: inline;
        font-weight: bold;
        width:120px;
        }
            
    .fr-title {
        font-style: italic;
        display: inline;
        color: #b8b8b8;
        /*border-bottom: 1px solid;*/
        /*border-bottom-color:gray;*/
        /*border-bottom-length:100px;*/
        }
    
/*Change color of text to a color between white & gray*/
    .en-body{
        font-size:12px;
        display:inline;
        }
            
    .fr-body{
        font-style:italic;
        font-family:serif;
        display:inline;
        color:#B8B8B8;
        font-size:smaller;
        }
           
/* This group addresses the features of the wallet on the left side of the box*/
    .left{
        float:left;
    }
    
    .coltext1{
        background-color:darkSeaGreen;
        /* Medium Spring Green*/
        padding-right:10px;
        /*bottom:;*/
        /*padding-bottom:px;*/
        }
           
    .alright{
        text-align:right;
        padding-right:10px;
        top:15px;
        /*left:10px;*/
        }
            
    .coltext2{
        background-color:DarkGreen;
        text-align:center;
        }
        
    .merged{
        display:inline;
        }
            
    .fr-subtext{
        color:silver;
        display:inline;
        font-size:.80em;
        }    
           
    .coltext3{
        /*Medium Sea Green */
        background-color:DarkOliveGreen;
        text-align:center;
        /*padding-left:20px;*/
        /*padding-top:200px;*/
        }
           
    .fr-sub{
        color:silver;
        display:inline;
        font-size:.75em;
        }
       
/* These groupings addresses the features of the wallet on the right side of the box*/
    .right{
        float:right;
        }
        
 /*This group deals with the first line of the right wallet description*/
     .grouped{
        display:block;
        }
       
    .win1{
        width:100px;
        display:inline;
        }
            
    .colchng{
        display:inline;
        color:green;
        font-size:225%;
        height:2em;
        }
            
    .win2{
        width=75px;
        display:inline-block;
        padding-right:1em;
        }
            
    .sepblock{
        display:inline-block;
        width:.15em;
        background-color:silver;
        height:2em;
        }
            
    .win3{
        width=30px;
        display:inline-block;
        padding-left:1em;
        }
        
/*This group deals with the second line of the right wallet description*/
    .batteryarea{
        display:block;
        position:relative;
        top:5px;
        bottom:5px;
        }
            
    .battery{
        display:inline-block;
        }
            
    .battery img{
        width:50px;
        height:50px;
        }
   
    .batteryinfo{
        display:inline-block;
        position:relative;
        bottom:10px;
        margin:.5em;
        /*padding-bottom:10px;*/
        }
            
    .fr-batttxt{
        font-size:.8em;
        color:silver;
        display:inline;
        }    
            
/*This group deals with the third line of the right wallet description*/
    .lightarea{
        display:block;
        position:relative;
        top:10px;
        bottom:10px;
        }
     
    .lightcable{
        display:inline-block;
        }
            
    .lightcable img{
        width:50px;
        height:50px;
        }
    
    .lightninginfo{
        display:inline-block;
        position:relative;
        bottom:10px;
        margin:.5em;
        }
            
    .fr-cabletxt{
        font-size:.75em;
        color:silver;
        display:inline;
        }
    
    
          
            
    /*.batteryblock{*/
    /*    display:inline-block;*/
    /*    }*/
            
            /*.fr-col{*/
            /*    color:silver;*/
            /*    display:inline;*/
            /*}*/
            
            /*.fr-box3text{*/
            /*    font-size:.75em;*/
            /*    color:silver:*/
            /*    display:inline;*/
            /*}*/
            
            /*.alignment{*/
            /*    display:inline-block;*/
            /*}*/
 
            /*.columns{*/
            /*    display:inline;*/
                /*width:200px;*/
                /*height:100px;*/
            /*}*/

            /*.blockright{*/
            /*    align:right;*/
            /*}*/
            
            /*.logotext{*/
            /*    display:inline-block;*/
            /*}*/

            /*.logo{*/
            /*    display:inline-block;*/
            /*    width:75px;*/
            /*    height:25px;*/
            /*    background-color:green;*/
            /*}*/
            
            /*.aligned{*/
            /*    display:inline;*/
            /*}*/
            
            /*.blocked{*/
            /*    display:block;*/
            /*}*/
            
            /*.left {*/
            /*    float:left;*/
            /*}*/
            
            /*.group{*/
                /*text-align:right;*/
                /*display:block;*/
            /*    width:200px;*/
            /*    display:inline;*/
            /*}*/
            
            /*#company_logo {*/
            /*    color: blue;*/
            /*}*/